GOOGLE_MAPS_API_KEY=your-google-maps-api-key-here
DATABASE_URL=mysql+aiomysql://lenshive:CHANGE_ME@your-instance.xxxxx.us-east-1.rds.amazonaws.com:3306/lenshive
COGNITO_REGION=us-east-2
COGNITO_USER_POOL_ID=us-east-2_xxxxxxxxx
COGNITO_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_SECRET_KEY=your-stripe-test-secret-key-here
